body {
  background-color: #fcfcee;
}

.accordion {
  width: 800px;
  margin: 90px auto;
  color: black;
  background-color: #fcfcee;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 45px 45px;
}

.container {
  position: relative;
  cursor: pointer;
}

.content {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
  cursor: pointer;
}

.acc-label {
  display: block;
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

.acc-input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
  cursor: pointer;
}

.acc-input:checked ~ .content {
  display: block;
}
.acc-input:hover ~ .content {
  display: block;
}
.container:hover ~ .content {
  display: block;
}

.acc-label:after {
  content: '\2b';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-family: 'FontAwesome';
}

.acc-input:checked + .acc-label:after {
  content: '\f00d';
}
.acc-input:hover + .acc-label:after {
  content: '\f00d';
}
